/* Manager */
body {
  #plone-contentmenu-display {
    display: none;
  }
  &.userrole-manager #plone-contentmenu-display {
    display: block;
  }
}
/* Hide elements */
body.portaltype-plone-site #portal-breadcrumbs .breadcrumb {
  display: none; /* Hide breadcrumbs on the Plone site */
}
body.template-summary_view h2 + div {
  display: none; /* Hide byline on Summary view */
}
body #portal-footer-wrapper {
  display: none;
}

/* Section byline */
body #section-byline {
  display: none;
}
body.section-billets #section-byline,
body.section-articles #section-byline {
  display: block;
}

/* Header */

#content-header {
  background: url("/++theme++noetique/images/header-background.png") no-repeat
    75% 0px fixed;
  background-color: $noetique-grey-medium-dark;
}
#content-header.pt-3 {
  padding-top: 0rem;
}
#content-header.flex-lg-row {
  flex-direction: column;
}
#content-header #portal-top {
  width: 100%;
  background-color: $noetique-grey-dark;
  color: $white;
}

@include media-breakpoint-up(lg) {
  #content-header {
    background-position-y: 40px;
  }
}

/* Marc quote */
body #noetique-quote {
  display: none;
}

#search-results-number {
  margin-left: 0.5rem;
}

/* Template home_view*/
body.template-home_view #noetique-quote {
  color: $noetique-grey-medium;
  display: block;
}

body.template-home_view #noetique-section-news {
  background-color: $noetique-grey-medium-dark;
}

body.template-home_view #content .card,
body.template-books_view #content .card {
  a {
    color: $body-color;
  }
  a:hover {
    text-decoration: none !important;
  }
}

/* Template event_listing*/
body.template-event_listing #content {
  .cal_date {
    min-width: 90px;
  }
  h1 + nav {
    display: none;
  }
}

#content #section-related {
  border: 1px solid $noetique-grey-light;
  padding: 1rem;
}
