/* Manager */
body {
  #plone-contentmenu-display {
    display: none;
  }
  &.userrole-manager #plone-contentmenu-display {
    display: block;
  }
}
/* Hide elements */
body.portaltype-plone-site #portal-breadcrumbs .breadcrumb {
  display: none; /* Hide breadcrumbs on the Plone site */
}
#section-byline {
  display: none;
}
body.template-summary_view h2 + div {
  display: none; /* Hide byline on Summary view */
}
/* Header */

#content-header {
  background: url("/++theme++noetique/images/header-background.png") no-repeat
    75% 0px fixed;
  background-color: $noetique-grey-medium-dark;
}
#content-header.pt-3 {
  padding-top: 0rem;
}
#content-header.flex-lg-row {
  flex-direction: column;
}
#content-header #portal-top {
  width: 100%;
  background-color: $noetique-grey-dark;
  color: $white;
}

@include media-breakpoint-up(lg) {
  #content-header {
    background-position-y: 40px;
  }
}

/* Marc quote */
body #noetique-quote {
  display: none;
}
body.template-home_view #noetique-quote {
  color: $noetique-grey-medium;
  display: block;
}

/* .card-header {
  background-color: $noetique-grey-dark;
  color: $white;
}

.card-body {
  background-color: $noetique-grey-light;
}

.card-footer {
  background-color: $noetique-grey-light;
  color: $black;
} */

body.template-home_view .card,
body.template-books_view .card {
  a {
    color: $body-color;
  }
  a:hover {
    text-decoration: none !important;
  }
}
