// *** New colors ***

$noetique-grey-light: #dbdcdd;
$noetique-grey-medium: #525a5c;
$noetique-grey-dark: #444750;

// *** Boostrap variable overrides ***

$enable-rounded: false;

// $primary: $pink;
// $secondary: $light-pink;
// $body-bg: $lightest-pink;
$navbar-barceloneta-background: $noetique-grey-dark;
$breadcrumb-bg: $noetique-grey-light;

// $body-color: $medium-grey;
// $font-size-base: 1rem;
// $h1-font-size: $font-size-base * 3;
// $h2-font-size: $font-size-base * 2.5;


@import "@plone/plonetheme-barceloneta-base/scss/barceloneta.scss";


// *** More SCSS ***

#content-header {
    background: url('/++theme++noetique/images/header-background.png') no-repeat 75% 0px fixed;
    background-color: $noetique-grey-medium;
}